@charset "UTF-8";

.container {
    max-width: 768px;
}

.cabecalho {
    width: 90%;
    padding-top: 1.5rem;
    padding-bottom: 3.125rem;
}

.principal {
    display: grid;
    grid-template-columns: 58% 42%;
    max-width: 90%;
    margin: auto;
    position: relative;
}

.principal-header {
    width: 100%;
    margin: 3.75rem auto 13.125rem;
}

.principal img {
    position: absolute;
    top: -200px;
    left: 340px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem 0.75rem;
}

.card h2 {
    padding: 3.5rem 2rem;
}

.rodape {
    padding: 3.625rem 2.5rem;
     margin: 3.25rem auto 0;
}